@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./app.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--pp-neue), Arial, Helvetica, sans-serif;
}
